<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ File: AndroidManifest.xml
  ~ Project: FuelPump
  ~ Module: FuelPump.core.network.main
  ~ Last modified: 12/28/22, 8:34 PM
  ~
  ~ Created by albertorivas on 12/29/22, 5:33 PM
  ~ Copyright © 2022 Alberto Rivas. All rights reserved.
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>