<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="androidx.car.app.MAP_TEMPLATES" />

    <application>

        <service
            android:name=".FuelPumpAutomotiveService"
            android:exported="true"
            android:permission="androidx.car.app.MAP_TEMPLATES">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
                <category android:name="androidx.car.app.category.POI" />
            </intent-filter>
        </service>

        <meta-data
            android:name="androidx.car.app.minCarApiLevel"
            android:value="1" />

    </application>

</manifest>