name: Deploy to Play Store

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Generate local.properties
        run: |
          echo "googleApiKey=${{ secrets.GOOGLE_MAPS_API_KEY }}" >> local.properties
          echo "googleStyleId=${{ secrets.GOOGLE_STYLE_MAP_ID }}" >> local.properties
          echo "storePassword=${{ secrets.KEYSTORE_PASSWORD }}" >> local.properties
          echo "keyAlias=${{ secrets.KEYSTORE_ALIAS }}" >> local.properties
          echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> local.properties
          echo "onesignalAppId=${{ secrets.ONE_SIGNAL }}" >> local.properties
          echo "mixpanelProjectToken=${{ secrets.MIXPANEL }}" >> local.properties

      - name: Create google-services.json
        env:
          DATA: ${{ secrets.GOOGLE_SERVICES_JSON }}
        run: echo $DATA | base64 -di > app/google-services.json

      - name: Read version.properties
        run: |
          while IFS='=' read -r key value || [[ -n "$key" ]]; do
            echo "Processing $key with value $value"
            case "$key" in
            "versionCode"|"versionMajor"|"versionMinor"|"versionPatch")
              echo "$key=$value" >> $GITHUB_ENV
              ;;
            esac
          done < versions.properties

      - name: Bump version
        uses: chkfung/android-version-actions@v1.2.3
        with:
          gradlePath: app/build.gradle.kts
          versionCode: ${{ env.versionCode }}
          versionName: ${{ env.versionMajor }}.${{ env.versionMinor }}.${{ env.versionPatch }}

      - name: Assemble Release Bundle
        run: ./gradlew bundleProdRelease

      - name: Sign Release
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: app/build/outputs/bundle/prodRelease
          signingKeyBase64: ${{ secrets.PLAY_STORE_SIGNING_KEY }}
          alias: ${{ secrets.KEYSTORE_ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      - name: Deploy to production
        uses: r0adkll/upload-google-play@v1.1.3
        with:
          serviceAccountJsonPlainText: ${{ secrets.GOOGLE_PLAY_STORE }}
          packageName: com.gasguru
          releaseFiles: app/build/outputs/bundle/prodRelease/app-prod-release.aab
          track: production
          status: completed
          whatsNewDirectory: distribution/whatsnew

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env.versionMajor }}.${{ env.versionMinor }}.${{ env.versionPatch }}
          name: Release v${{ env.versionMajor }}.${{ env.versionMinor }}.${{ env.versionPatch }}
          draft: false
          prerelease: false
          generate_release_notes: true
