name: CI - Pull Request to Develop

on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    if: ${{ github.actor != 'dependabot[bot]' && !startsWith(github.head_ref, 'sync/') && !startsWith(github.head_ref, 'docs/')}}
    name: Build
    runs-on: ubuntu-22.04
    steps:
      - run: echo "The job was automatically triggered by a ${{ github.event_name }} event"
      - name: Checkout
        uses: actions/checkout@v6

      - name: Free disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: false
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'zulu'
          cache: gradle

      - name: Generate local.properties
        run: |
          echo "googleApiKey=${{ secrets.GOOGLE_MAPS_API_KEY }}" >> local.properties
          echo "googleStyleId=${{ secrets.GOOGLE_STYLE_MAP_ID }}" >> local.properties
          echo "storePassword=${{ secrets.KEYSTORE_PASSWORD }}" >> local.properties
          echo "keyAlias=${{ secrets.KEYSTORE_ALIAS }}" >> local.properties
          echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> local.properties
          echo "onesignalAppId=${{ secrets.ONE_SIGNAL }}" >> local.properties
          echo "mixpanelProjectToken=${{ secrets.MIXPANEL }}" >> local.properties
          echo "sha1Debug=${{ secrets.SHA1_DEBUG }}" >> local.properties
          echo "sha1PlayStore=${{ secrets.SHA1_PLAY_STORE }}" >> local.properties
          echo "supabaseUrl=${{ secrets.SUPABASE_URL }}" >> local.properties
          echo "supabaseKey=${{ secrets.SUPABASE_API_KEY }}" >> local.properties

      - name: Create google-services.json
        env:
          DATA: ${{ secrets.GOOGLE_SERVICES_JSON }}
        run: echo $DATA | base64 -di > app/google-services.json

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        working-directory: ./

      - name: Run detekt
        run: ./gradlew codeCheck
        working-directory: ./

      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Install Maestro CLI
        run: |
          curl -Ls "https://get.maestro.mobile.dev" | bash
          echo "$HOME/.maestro/bin" >> $GITHUB_PATH

      - name: Start Android Emulator
        uses: ReactiveCircus/android-emulator-runner@v2.35.0
        with:
          api-level: 34
          target: google_apis
          arch: x86_64
          disable-animations: true
          emulator-options: "-no-snapshot-save -no-window -no-boot-anim"
          script: |
            # Build and run unit tests
            ./gradlew connectedCheck
            
            # Assemble APK for Maestro
            ./gradlew assembleProdRelease
            
            # Wait for emulator to be ready
            adb wait-for-device
            
            # Install APK in the emulator
            adb install app/build/outputs/apk/prod/release/app-prod-release.apk
            
            # Execute test with maestro
            maestro test .maestro/config.yaml